.footer {
    background-color: $color-primary-dark;
    border-radius: 0 0 2rem 2rem;
    box-shadow: $box-shadow-light;


    @include respond(tab-port) {
        border-radius: 0;

    }



}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;

    @include respond(phone) {
        flex-direction: column;

    }



    &__list {
        display: flex;
        text-decoration: none;
        justify-content: space-around;

        @include respond(small-phone) {
            flex-wrap: wrap;

        }
    }

    &__item {
        font-size: 1.11rem;
        list-style: none;
    }

    &__link {
        @include line-btn;

        @include respond(small-phone) {
            margin: 1.3rem;

        }
    }

    &__contact {
        color: $color-grey-dark;
        display: flex;
        align-items: center;
    }

    &__number {
        @include line-btn;
        font-size: 1.5rem;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-white;
    }



}